# Ignore environment and Python cache files
.env
.python-version
__pycache__/
*.pyc

# Ignore logs and temp files
logs/
temp/
Error/
final/
unit_test.py

# Ignore everything in tests and theory_evaluation except tracked files
tests/
theory_evaluation/
theory_evaluation_basic/
*.toml
uv.lock
